{% extends "Eigen/header.html" %}
{% block content %}

		<br>
		<br>
        <div class="container">
		
		
		  <form class="well form-horizontal" action="/EigenFaces/trainerProc/" method="post"  id="contact_form" enctype="multipart/form-data">{% csrf_token %}
			<fieldset>

				<!-- Form Name -->
				<legend>EigenFaces</legend>

				  <ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#centroide">Centroide más cercano</a></li>
					<li><a data-toggle="tab" href="#vecinos">K-vecinos</a></li>
					
				 </ul>
				 
				  <h3> </h3>
				  <h3>  </h3>
				  <div class="tab-content">
					<div id="centroide" class="tab-pane fade in active">
					 
						 <div class="form-group">
							<label class="col-md-2 control-label"></label>
						  <div class="col-md-6 inputGroupContainer">
						  
						 
								   <div class="fileinput fileinput-new input-group" data-provides="fileinput" >
									<div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
									<span class="input-group-addon btn btn-primary btn-file"><span class="fileinput-new"><span class="glyphicon glyphicon-level-up"></span>  Seleccionar Carpeta</span><span class="fileinput-exists">Seleccionar Carpeta</span><input type="file" required name="file" webkitdirectory multiple ></span>
								   </div>
								 
								
						
						  
						</div>
						

						  
						 
						 
						</div>
						 <div class="form-group">
							 <label class="control-label col-sm-2" for="email">Porcentaje de autovectores</label>
								<div class="col-sm-6">
								  <input type="number" required class="form-control" id="porcentaje" name= "porcentaje" placeholder="0-100">
								</div>
						</div>
						
						<h3></h3>
						 <div class="form-group">
							 <label class="col-md-2 control-label"></label>
							 <div class="col-md-6" align="right">
								<input type="submit" value="Procesar" id="procesarCentroide" class="btn btn-primary" >
							</div>
						</div>
					</div>
					
					<h3> </h3>
					<h3>  </h3>
					<div id="vecinos" class="tab-pane fade">
					  <div class="form-group">
							<label class="col-md-2 control-label"></label>
						  <div class="col-md-6 inputGroupContainer">
						  
						 
								   <div class="fileinput fileinput-new input-group" data-provides="fileinput" >
									<div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
									<span class="input-group-addon btn btn-primary btn-file"><span class="fileinput-new"><span class="glyphicon glyphicon-level-up"></span>  Seleccionar Carpeta</span><span class="fileinput-exists">Seleccionar Carpeta</span><input type="file"  name="file2" webkitdirectory multiple ></span>
								   </div>
								 
								
						
						  
						</div>
						

						  
						 
						 
						</div>
						 <div class="form-group">
							 <label class="control-label col-sm-2" for="email">Cantidad de K-vecinos</label>
								<div class="col-sm-6">
								  <input type="number" class="form-control" id="k_vecinos" placeholder="0-100">
								</div>
						</div>
						
						<h3></h3>
						 <div class="form-group">
							 <label class="col-md-2 control-label"></label>
							 <div class="col-md-6" align="right">
								<input type="submit" value="Procesar" id="procesarK" class="btn btn-primary" >
							</div>
						</div>
					  
					</div>
				  </div>
	
		
	<!-- Modal Sucess-->
	<div class="modal fade" id="Sucess" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">
        					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        				</button>
        				<h3 class="modal-title" id="modal-login-label">Se proceso correctamente</h3>
						
						<p>Para mas informacion revisar el archivo .txt generado</p>
						
						
						
        			</div>
        			
        	
        			
      </div>
      
    </div>
  </div>
		
		
{% endblock %}